<!DOCTYPE html>
<html>
  <head>    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" >-->
        <link href="{{ url_for('static', filename='stili.css') }}" rel="stylesheet" >
        <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon" />
        <script src="{{ url_for('static', filename='chats.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='vgkvisi.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='main.js') }}" type="text/javascript"></script>
<!--    <script type="text/javascript" charset="UTF-8" src="static/vgkvisi.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/stili.css" />
    <script type="text/javascript" charset="UTF-8" src="static/main.js"></script> 
    <script src="{{ url_for('static',filename='chats.js')}}" type="text/javascript"></script>
    <link href="{{ url_for('static',filename='favicon.ico')}}" rel="icon" type="image/x-icon"/>-->
      <title>Spēle</title>
    </head>
  <body onload="lasiChatu();" class="body">
    
    <div id="header">
      <a href="index.html"><img src="static/images/header_img.png"/></a>
    </div>

    <div id="main">
      <div id="left-sidebar">
        <form onsubmit="return false">
          <div class="login">
            <input type="text" placeholder="Lietotāja vārds" id="uname" required>        
            <input type="password" placeholder="Parole" id="psw" required>            
            <button class="poga" onclick="login()">Ieiet</button>
          </div>      
        </form>
        <hr>
        <button class="poga" onclick="document.getElementById('idRegistracija').style.display='block'">Reģistrēties</button>
        <button class="poga" onclick="neregistrejoties()" title="Sākt spēli bez reģistrācijas">Sākt tagad</button>  

        <div id="idRegistracija" class="modal">
          <!--<span onclick="document.getElementById('idRegistracija').style.display='none'" class="close" title="Close Modal">&times;</span>-->
          <form onsubmit="return false" class="modal-content animate">
            <div class="container">
              <input type="text" placeholder="Lietotāja vārds" id="runame" required>
              <input type="password" placeholder="Parole" id="rpsw" required>
              <input type="password" placeholder="Parole atkārtoti" id="rpsw2" required>  
              <button type="submit" class="poga" onclick="lgnpsscheck()">Reģistrēties</button>
              <button type="button" class="poga" onclick="document.getElementById('idRegistracija').style.display='none'" class="cancelbtn">Atcelt</button>              
              <!--<p align="center">* Ja nevēlaties reģistrēties, izmantojiet&emsp;<i>Lietotāja vārds:</i><b><i>Viesis</i></b>&emsp;<i>Parole:</i><b><i>Viesis</i></b></p><br>-->
            </div>        
          </form>
        </div>

        <!--<ul>
          <li>
            <button class="poga" onclick="jaunaSpele()">Sākt spēli!</button>
          </li>
        </ul>-->
      </div>

      <div id="konteiners">
        <div id="textblock">
          <h1>Par spēli</h1>
          <img src="static/images/knb.jpg" alt="Kuroko and Nigou" />
          <p>
            Pilsētu kultūra, valodas un tradīcijas ir ļoti dažādas un
            atšķirīgas, bet vai tu vari atpazīt šo valstu galvaspilsētas,
            paskatoties uz karogu? Izpildi testu un pārbaudi savas ģeogrāfijas
            zināšanas!
          </p>
        </div>
      </div>

      <div id="right-sidebar">
        <div class="browser">
          <div id="chats">


          </div>
          
          <div>
              <input id="zinja" placeholder="Ievadi savu zinu!" type="text">
              <button onclick="suutiZinju()" type="button">Sūtīt</button>
          </div>
            </br>
          <a href="https://www.youtube.com/user/jaunogeografuskola" target="_blank">
            <img src="static/images/youtubelogo.jpg" alt="YouTube" />
          </a>

          <a href="https://www.facebook.com/pg/Jauno.geografu.skola/about/" target="_blank">
            <img src="static/images/facebook.png" alt="Deviantart" />
          </a>

          <a href="https://twitter.com/jgs_lv" target="_blank">
            <img src="static/images/twitterlogo.jpg" alt="Twitter" />
          </a>

          {% block saturs %}

          {% endblock %}
        </div>
      </div>
    </div>
    <div id="footer">
      <p>&copy Modernais Garfields</p>
    </div>
  </body>
</html>
